<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Page</title>
</head>
<body>
    <h1>Writer Library</h1>
    {% if error_message != None %}
        <p><span style="color: red;">{{error_message}}</span></p>
    {% endif %}
    <form action="/submit" method="POST">
        <p><b>Enter Author's name</b></p>
        <p><input type="text" name="fname" maxlength="20" placeholder="Enter first name"> <input type="text" name="lname" maxlength="20" placeholder="Enter last name"></p>
        <br>
        <p><b>Enter story below</b></p>
        <textarea name="story" id="story" cols="150" rows="30"></textarea>
        <br><br>
        
        <input type="submit" value="Save story">

       
    </form>
</body>
</html>